* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.wrapper {
  margin: 0 12.7%;
}
